<mat-card class="setting-vo-form">
    <mat-tab-group>
        <mat-tab label="Stream">
            <div class="choose-device">
                <mat-form-field>
                    <mat-label>Choose device</mat-label>
                    <mat-select>
                        <mat-option>Video device 1</mat-option>
                        <mat-option>Video device 2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="From file">
            <div class="choose-device">
                <mat-form-field>
                    <mat-label>Choose video</mat-label>
                    <mat-select>
                        <mat-option>Video device 1</mat-option>
                        <mat-option>Video device 2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="control-section">
        <button matButton="filled">Start VO!</button>
    </div>
</mat-card>
