.setting-vo-form {
    width: 100vw;
    min-width: 300px;
    max-width: 600px;
    justify-self: center;
}

.choose-device {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.control-section {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}