<div class="choose-file-container">
  <mat-form-field appearance="fill">
    <mat-label>Selected Video File</mat-label>
    <input matInput [value]="selectedFileName" readonly placeholder="No file chosen">
    <mat-icon matSuffix>movie</mat-icon>
  </mat-form-field>

  <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
  
  <button matButton="outlined" (click)="fileInput.click()">
    <mat-icon>upload_file</mat-icon>
    Browse Video
  </button>
</div>