<div class="workspace-container">
  
  <div class="media-panel">
    
    <video #videoPlayer controls muted playsinline class="video-preview"></video>
    
    <div class="controls">
      <button mat-flat-button color="primary" (click)="startProcessing()" [disabled]="isProcessing">
        <mat-icon>play_arrow</mat-icon> Start VO
      </button>
      <button mat-stroked-button color="warn" (click)="stopProcessing()" [disabled]="!isProcessing">
        <mat-icon>stop</mat-icon> Stop
      </button>
    </div>
    
    <canvas #frameCanvas style="display: none;"></canvas>
  </div>

  <div class="plot-panel">
    <div id="plotly-vo-chart"></div>
  </div>
  
</div>