@import 'katex/dist/katex.min.css';

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}